Basic with small data set

In [1]:
import pandas as pd

dataframe is the multiple series(row/columns) object like the gmail series

In [2]:
# it take only one value in the columns
person={
    "first" : "yash",
    "last": "jain",
    "gmail": "jainy9089"
}

In [3]:
# it have one value in the columns
person={
    "first" : ["yash"],
    "last": ["jain"],
    "gmail": ["jainy9089"]
}

In [4]:
# it take multiple value in the columns
person={
    "first" : ["yash" , "riya"],
    "last": ["jain", "goyal"],
    "gmail": ["jainy9089", "riyayash"]
}

In [5]:
person["gmail"]

['jainy9089', 'riyayash']

In [6]:
# display the data in the table form
df=pd.DataFrame(person)
df

  first   last      gmail
0  yash   jain  jainy9089
1  riya  goyal   riyayash

In [7]:
# access colomn
print(df['gmail'],"\n")
print(df.gmail) #it access the method if it's present
type(df['gmail'])

0    jainy9089
1     riyayash
Name: gmail, dtype: object

0    jainy9089
1     riyayash
Name: gmail, dtype: object

pandas.core.series.Series

In [8]:
# access the two or more columns
df[["first","last" ]]

  first   last
0  yash   jain
1  riya  goyal

In [9]:
# show all the columns name and type of data
df.columns

Index(['first', 'last', 'gmail'], dtype='object')

iloc[]

In [10]:
# it take the index no. for the access the value of the data
# it retuen the rows information with index no. and dtype
print(df.iloc[0])
df.iloc[[0,1]]

first         yash
last          jain
gmail    jainy9089
Name: 0, dtype: object

  first   last      gmail
0  yash   jain  jainy9089
1  riya  goyal   riyayash

In [11]:
want_acces_rows =[0,1]

want_access_columns = [1,2]

df.iloc[want_acces_rows,want_access_columns]

    last      gmail
0   jain  jainy9089
1  goyal   riyayash

loc[]

In [12]:
# loc[]:- it take the both index and row/columns name
want_acces_rows =[0,1]

want_access_columns = []

df.loc[want_acces_rows,"gmail"]

0    jainy9089
1     riyayash
Name: gmail, dtype: object

In [13]:
want_acces_rows =[0,1]

want_access_columns = ["gmail","first"]

df.loc[want_acces_rows,want_access_columns]

       gmail first
0  jainy9089  yash
1   riyayash  riya

Practice on the stack overflow data set

In [14]:

da=pd.read_csv(r"C:\Users\YASH JAIN\Documents\New Folder\OneDrive\Desktop\CodeBox\python language\panda\data\survey_results_public.csv")
# treate like a simple string 
# \n,\a it disturb the file path so it a incorrect way to access the file by path
#da=pd.read_csv("C:\Users\YASH JAIN\Documents\New Folder\OneDrive\Desktop\CodeBox\python language\panda\data\survey_results_public.csv") 
da

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor? degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master? degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor? degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor? degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:

print(da.columns) #columns present in a data
print(da.shape)  #show the no. of row and columns present

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)
(65437, 114)

In [17]:
# da['LearnCodeOnline'].head()

da['SOAccount'].head(10).value_counts()

SOAccount
Yes    8
No     2
Name: count, dtype: int64

In [ ]:

da.loc[[0,1],"Employment"]

0    Employed, full-time
1    Employed, full-time
Name: Employment, dtype: object

In [ ]:
# access by the indexing
da.loc[[0,1]]

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor? degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
# access with a silicing

#Note:- access also the last vale of the silicing
da.loc[0:2,"Employment"]

0    Employed, full-time
1    Employed, full-time
2    Employed, full-time
Name: Employment, dtype: object

In [ ]:
# access with a silicing

#Note:- access also the last value of the silicing
da.loc[0:2,"Employment":"Check":2]

            Employment   Check
0  Employed, full-time  Apples
1  Employed, full-time  Apples
2  Employed, full-time  Apples